<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thammasat University</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
</head>
<body onload="loading()">
    <div id="loading-wrapper">
        <div id="loading-text">LOADING</div>
        <div id="loading-content"></div>
    </div>
    <div class="container" style="opacity: 0;">
        <canvas id="particle"></canvas>
        <nav class="navbar navbar-expand-lg navbar-light rounded mb-5">
            <div class="logo-wrapper" style="width:25%;">
                <a class="navbar-brand" href="/">
                    <img src="http://www.tu.ac.th/uploads/main-logo.svg" width="100%">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/request">Request</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Verify</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="exit">Exit</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-6">
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header text-center"><h4><strong>Information</strong></h4></div>
                    <div class="card-body">
                        <h5 class="card-title text-danger">Student name</h5>
                        <p class="card-text">{{ name }}</p>
                        <h5 class="card-title text-danger">Student ID</h5>
                        <p class="card-text">{{ id }}</p>
                    </div>
                </div>
            </div>

            <form action="/student/key" method="POST" class="col-md-6" autocomplete="off">
                <h4>Please first download the blockchain wallet from the link</h4>
                <ul>
                    <li>For iOS: <u>https://itunes.apple.com/us/app/blockcerts-wallet/id1146921514?mt=8</u></li>
                    <li>For Android: <u>https://play.google.com/store/apps/details?id=com.learningmachine.android.app&hl=en</u></li>
                </ul>
                <h4>Install it on your phone or computer.</h4>
                <h4>Once you have your public key provide it to us:</h4>
                
                <div class="w-75 m-auto">
                    <div class="alert alert-danger" role="alert" id="error"></div>
                    <div class="input-group mb-3 mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">🔑</span>
                        </div>
                        <input type="text" class="form-control" name="key" placeholder="Public Key" aria-label="Username" aria-describedby="basic-addon1" autofocus required>
                    </div>
                    <div class="form-check">
                        <label for="">Which documents you want ?</label>
                        <br>
                        <input type="checkbox" class="form-check-input" name="diploma" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Diploma</label>
                        <br>
                        <input type="checkbox" class="form-check-input" name="transcript" id="exampleCheck2">
                        <label class="form-check-label" for="exampleCheck1">Transcript</label>
                    </div>
                    <input type="submit" value="Send" class="btn btn-warning w-100 mt-4 mb-5 font-weight-bold">
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="js/particle.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/instruction.js"></script>
</body>
</html>