<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Request</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="request.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
</head>
<body onload="loading()">
    <div id="loading-wrapper">
        <div id="loading-text">LOADING</div>
        <div id="loading-content"></div>
    </div>
    <div class="container" style="opacity: 0;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded mb-5">
            <div class="logo-wrapper" style="width:25%;">
                <a class="navbar-brand" href="/">
                    <img src="http://www.tu.ac.th/uploads/main-logo.svg" width="100%">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/request">Request <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <h1>Thammasat Blockchain Academic Credential</h1>
        <h4>How to apply for putting your diploma to Blockchain</h4>
        
        <form action="/student/info" method="POST" class="col-md-5" autocomplete="off">
            <div class="alert alert-danger" role="alert" id="error"></div>
            <div class="form-group">
                <label for="name">Student name</label>
                <input type="text" name="name" class="form-control" id="name" autofocus required>
                <small id="nameHelpBlock" class="form-text text-muted">
                    Your student name must contain only letters and must not contain spaces.
                </small>
            </div>
            <div class="form-group">
                <label for="id">Student ID</label>
                <input type="text" name="id" class="form-control" id="id" required>
                <small id="idHelpBlock" class="form-text text-muted">
                    Your student id number must be 10 characters long, contain only numbers and must not contain spaces.
                </small>
            </div>
            <input type="submit" value="Send" class="btn btn-warning w-100 font-weight-bold">
        </form> 
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <script src="request.js"></script>
</body>
</html>